{% block navbar %}


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="index.html"> <img src="../static/images/logo.png" style="width:45%" title="Go to homepage"></a>
      </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white" title="Click to select a model">
                <b>Select a Model</b>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="stroke_dash.html" style="color: orange; font-weight: bold;">STROKE PREDICTION MODEL</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="stress_dash.html" style="color: blue; font-weight: bold;">PHYSICAL STRESS PREDICTION MODEL</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="body_performance_dash.html" style="color: limegreen; font-weight: bold;">BODY PERFORMANCE MODEL</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="travel_insurance_dash.html" style="color: hotpink; font-weight: bold;">TRAVEL INSURANCE PREDICTION MODEL</a></li>
              </ul>
          </ul>
          <ul class="navbar-nav">   
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="references.html" style="color:white"><b>References</b></a>
            </li>
        </ul>
  
        </div>
      </div>


  </nav>



{%endblock%}